<h1 mat-dialog-title>Ajouter un nouveau critère</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col text-center">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom" [(ngModel)]="data.name" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Description" [(ngModel)]="data.description" type="text">
      </mat-form-field>
    </div>

    <div class="col text-center">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Résumé" [(ngModel)]="data.resumeString" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Affichage" [(ngModel)]="data.displayedString" type="text">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Créer</button>
  <button mat-button (click)="onNoClick()">Annuler</button>
</div>