

.action {
    font-size: 16px;

    .cmd {
        font-family: monospace;
        margin-right: 5px;
        background-color: #bbb6b636;
        padding: 2px;
    }

    .explanation {
        margin-top: 15px;
    }
}