<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>GeekNBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v1/160131/3.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css">
    <style>
        #gameTitle,
        #critereTitle {
            text-align: center;
        }

        .criteres-wrapper,
        .table-wrapper, #list-wrapper {
            margin: auto;
            width: 80%;
        }

        .back {
            margin-right: 30px;
            color: #f0f0f5;
        }

        .actions a{
            border-bottom: none;
        }
    </style>
</head>

<body>