<% include header %>

<div id="wrapper">
    <section id="intro" class="wrapper style1 fullscreen">
        <div class="inner">
            <h1>GeekNBot - Le bot du futur !</h1>
            <p>Quelle action souhaitez-vous effectuer ?</p>
            <ul class="actions">
                <a href="/list/game">
                    <li class="button">Liste des jeux</li>
                </a>
                <a href="/list/criterion">
                    <li class="button">Liste des critères</li>
                </a>
                <a href="/new/game">
                    <li class="button">Nouveau jeu</li>
                </a>
                <a href="/new/criterion">
                    <li class="button">Nouveau critère</li>
                </a>
                <a href="/doc">
                    <li class="button">Documentation</li>
                </a>
            </ul>
        </div>
    </section>
</div>


<% include footer %>