<% include header %>

<div id="wrapper">
        <div id="list-wrapper">
            <h1 class="major"><a href="/" class="back"><i class="fa fa-arrow-left"></i></a>Modifications</h1>
    
            <p><%=modifs%></p>
        </div>
    </div>

<% include footer %>