<div class="main-content">
  <div class="container">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Jeux</h4>
        <div class="row">
          <p class="card-category col-8"> Cliquer sur un jeu pour accéder aux statistiques</p>
          <button mat-raised-button matTooltip="Ajouter un jeu" color="success" class="col-4 addBtn" (click)="openDialog()">
            <i class="material-icons">add</i> Ajouter
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="fluid">
          <div *ngFor="let game of games" class="game">
            <app-game-item [game]="game"></app-game-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>