.card {
  &:hover {
    box-shadow: 1px 1px 1px 1px #f44336;
    background-color: #80808017;
    cursor: pointer;
    opacity: 0.8;
  }

  h5 {
    text-align: center;

    text-overflow: ellipsis;
    word-wrap: break-word;

    // overflow: hidden;
    max-height: 30px;
    line-height: 1.8em;
  }
}
