<mat-card class="example-card card" (click)="View()">
  <button mat-mini-fab color="warn" matTooltip="Supprimer le jeu" class="delete" (click)="deleteGame()" click-stop-propagation><i class="material-icons">delete</i></button>
  <button mat-mini-fab [color]="orange" matTooltip="Modifier le jeu" class="edit" (click)="editGame()" click-stop-propagation><i class="material-icons">edit</i></button>
  <img mat-card-image src="https://static-cdn.jtvnw.net/ttv-boxart/{{img}}-144x192.jpg" alt="IMAGE"/>
  <mat-card-content>
    <h5 matTooltip="{{game.title}}">
      {{game.title}}
    </h5>
  </mat-card-content>
</mat-card>